.list-wrapper {
    .green {
        color: #088f00;
    }
    .message-container {
        max-height: 95px;
        overflow: auto;
    }
    .pagination {
        justify-content: flex-end;
    }
}